.navbar {
    background-color: #000 !important;
}
.navbar-brand {
   
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


.container {
    padding-top: 1.5rem!important;
    
    
}

#music {
  display:none;
}